<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">All Contacts</li>
  </ol>
  <button type="button" class="btn btn-primary" (click)="addContact()">Add New Contact</button>
</nav>

<main class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <div *ngIf="tableParams.totalListItems > 0">
    <app-table-template *ngIf="!loading && tableParams.totalListItems != 0" (checkboxChange)='checkChange($event)'
      [columns]="documentTableColumns" [data]="documentTableData" (onColumnSort)='setColumnSort($event)'
      (onSelectedRow)='updateSelectedRow($event)' (onPageNumUpdate)='onSubmit($event)'>
    </app-table-template>
  </div>
  <div *ngIf="tableParams.totalListItems == 0">
    There are no contacts.
  </div>
</main>